<ion-content class="landing-page">
  <video autoplay muted loop id="backgroundVideo">
    <source src="../assets/video_fond.mp4" type="video/mp4">
  </video>
  <ion-grid class="ion-text-center content-over-video">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col>
        <ion-card class="ion-no-margin ion-no-padding card-title">
          <ion-card-content>
            <h1 class="landing-title">Turcan</h1>
            <p class="landing-subtitle">Apps</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
